openapi: 3.0.0
info:
  title: Server API
  version: '1.0'
  description: 'Public metadata API for accessing SA:MP servers'
  contact:
    name: 'SA:GL'
    url: 'https://github.com/xeonr/sagl'
    email: team@sagl.app
servers:
  - url: 'https://server-api.sagl.app/v1'
    description: Production
paths:
  /statistics/current/network.asn:
    get:
      summary: Return host distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveHost'
              examples:
                Example response:
                  value:
                    - asn: 16276
                      name: OVH SAS
                      count: 326
                    - asn: 51659
                      name: LLC Baxet
                      count: 107
                    - asn: 24940
                      name: Hetzner Online GmbH
                      count: 66
                    - asn: 8342
                      name: JSC RTComm.RU
                      count: 28
                    - asn: 133398
                      name: Tele Asia Limited
                      count: 28
      operationId: get-statistics-asn
      description: |-
        Returns the global hosting provider distribution for all SAMP servers.


        This is only for servers at the current time, not historical.
    parameters: []
  /statistics/current/network.country:
    get:
      summary: Return country distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveCountry'
              examples:
                Example:
                  value:
                    - country: RU
                      count: 80
                    - country: CA
                      count: 68
                    - country: FR
                      count: 52
                    - country: US
                      count: 32
                    - country: null
                      count: 15
                    - country: PL
                      count: 8
                    - country: BR
                      count: 5
                    - country: DE
                      count: 5
                    - country: NL
                      count: 3
                    - country: GB
                      count: 3
                    - country: SE
                      count: 1
                    - country: PT
                      count: 1
                    - country: RO
                      count: 1
                    - country: AU
                      count: 1
      operationId: get-statistics-country-count
      description: 'This returns country distribution for all SA:MP servers we track.'
    parameters: []
  /statistics/current/game.version:
    get:
      summary: Return game version distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameVersion'
              examples:
                Example:
                  value:
                    - version: 0.3.7-R2
                      count: 703
                    - version: 0.3.7-R3
                      count: 43
      operationId: get-statistics-game-version
      description: 'This returns game version distribution for all SA:MP servers we track.'
    parameters: []
  /statistics/current/game.gamemode:
    get:
      summary: Return game mode distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameMode'
              examples:
                Example:
                  value:
                    - gamemode: Arizona-rp Russian
                      count: 63
                    - gamemode: Grand Larceny
                      count: 41
                    - gamemode: Unknown
                      count: 22
      operationId: get-statistics-game-mode
      description: 'This returns game version distribution for all SA:MP servers we track.'
    parameters: []
  /statistics/current/game.language:
    get:
      summary: Return game language distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameLanguage'
              examples:
                Example:
                  value:
                    - language: Russian
                      count: 224
                    - language: English
                      count: 74
      operationId: get-statistics-game-language
      description: 'This returns game language distribution for all SA:MP servers we track.'
    parameters: []
  /statistics/current/players:
    get:
      summary: Return global player count
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  onlinePlayers:
                    type: number
                  maxPlayers:
                    type: number
                  averagePlayers:
                    type: number
                  globalFullness:
                    type: number
                    description: Percentage of global capacity used
                required:
                  - onlinePlayers
                  - maxPlayers
                  - averagePlayers
                  - globalFullness
              examples:
                Example:
                  value:
                    onlinePlayers: 12396
                    maxPlayers: 94594
                    averagePlayers: 47.6769
                    globalFullness: 13.104425227815716
      operationId: get-statistics-current-players
      description: Returns combined player count details for all servers we track
  '/servers/{host}:{port}':
    parameters:
      - schema:
          type: string
          format: ipv4
        name: host
        in: path
        required: true
        description: Server IP
      - schema:
          type: integer
          maxLength: 65565
        name: port
        in: path
        required: true
        description: Server Port
    get:
      summary: Get a server
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameServer'
              examples:
                Example:
                  value:
                    id: 19b66b28-3d22-4b1e-9b03-f100e2881d0c
                    address: '94.23.154.186:7777'
                    name: 'Mike''s Cops and Robbers [v1.11.1 R1]'
                    isSupporter: true
                    isHosted: true
                    isPassworded: false
                    players:
                      current: 33
                      max: 100
                      hitSAMPLimit: false
                      online:
                        - id: 31
                          name: Hernan_Cabrera
                          ping: 264
                          score: 106
                        - id: 32
                          name: Minahany
                          ping: 78
                          score: 14669
                        - id: 33
                          name: KiraSyn
                          ping: 409
                          score: 2754
                        - id: 34
                          name: lefmak
                          ping: 73
                          score: 3611
                        - id: 35
                          name: Luu
                          ping: 259
                          score: 14049
                        - id: 36
                          name: SALMAAN
                          ping: 203
                          score: 7589
                        - id: 38
                          name: Mekey
                          ping: 82
                          score: 602
                        - id: 39
                          name: .Peachy.
                          ping: 72
                          score: 41358
                        - id: 40
                          name: Lucas_Wolfenstein
                          ping: 335
                          score: 400
                        - id: 41
                          name: Joshua_Wolfenstein
                          ping: 267
                          score: 1502
                        - id: 43
                          name: ND90
                          ping: 109
                          score: 14851
                        - id: 44
                          name: Jeison_Nieto
                          ping: 208
                          score: 7824
                        - id: 45
                          name: 0V3RK1LL
                          ping: 182
                          score: 51513
                        - id: 46
                          name: MoudjibDz
                          ping: 45
                          score: 4282
                        - id: 47
                          name: samosimo
                          ping: 73
                          score: 430
                        - id: 48
                          name: Gabriel_Nashor
                          ping: 270
                          score: 18
                        - id: 49
                          name: '[RA]Kitem'
                          ping: 57
                          score: 33418
                        - id: 51
                          name: BILEL
                          ping: 61
                          score: 4260
                        - id: 52
                          name: Panos
                          ping: 67
                          score: 858
                        - id: 53
                          name: Manjufi
                          ping: 249
                          score: 2991
                        - id: 54
                          name: Abdo.Dz
                          ping: 76
                          score: 8708
                        - id: 55
                          name: Stefanos_Xios
                          ping: 73
                          score: 843
                        - id: 56
                          name: '[77]anty'
                          ping: 135
                          score: 47268
                        - id: 57
                          name: MRk2
                          ping: 104
                          score: 16861
                        - id: 59
                          name: Smith_Erwin
                          ping: 72
                          score: 55109
                        - id: 61
                          name: CosmoS
                          ping: 59
                          score: 35224
                        - id: 62
                          name: Mr.Jingle
                          ping: 36
                          score: 26917
                        - id: 63
                          name: Hidden_
                          ping: 74
                          score: 13727
                        - id: 65
                          name: Adrian_Wolfestein
                          ping: 260
                          score: 110
                        - id: 66
                          name: Dutch420Maniac
                          ping: 46
                          score: 13864
                        - id: 70
                          name: Perc.1337
                          ping: 26
                          score: 10817
                        - id: 73
                          name: welid_holmes
                          ping: 83
                          score: 20551
                        - id: 75
                          name: Rafael_Assad
                          ping: 250
                          score: 115
                    game:
                      language: English
                      gamemode: Mike's Cops and Robbers
                      lagcomp: 'On'
                      mapname: LS (SF next)
                      version: 0.3.7-R2 | 1.11.1 R1
                      weather: Extra sunny
                      worldtime: 'Sun 15:00'
                    network:
                      country: GB
                      asn: 16276
                      asnName: OVH SAS
                    metadata:
                      icon: 'https://cdn.discordapp.com/icons/524318544243195917/a_541c605122b4bf0aa1519eccaa9f0a9d.gif'
                      discordGuild: '524318544243195917'
                      socials:
                        url: 'https://mikescnr.com'
                        twitter: mikescnr
                        youtube: channel/UC9vOG1ZF0NRVzlnTTBc0g1A
                        facebook: Mikes-Cops-and-Robbers-388075981741242
                        discord: sreDRj9
                    isOnline: true
                    snapshotAt: '2021-08-20T22:00:05.000Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                  error:
                    type: string
                  message:
                    type: string
                required:
                  - statusCode
                  - error
                  - message
              examples:
                Example 404:
                  value:
                    statusCode: 404
                    error: Not Found
                    message: Game server not tracked
      operationId: 'get-server-host-:-port'
      description: Returns the last data snapshot for a given server.
      tags:
        - Servers
  '/servers/{host}:{port}/tsdb/ping':
    parameters:
      - schema:
          type: string
          format: ipv4
        name: host
        in: path
        required: true
        description: Server IP
      - schema:
          type: integer
          maxLength: 65565
        name: port
        in: path
        required: true
        description: Server Port
    get:
      summary: 'Time Series: Ping'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items: {}
              examples:
                example-1:
                  value:
                    - - '2020-09-06T23:00:00.000Z'
                      - 17
                    - - '2020-09-06T23:30:00.000Z'
                      - 20
                    - - '2020-09-07T00:00:00.000Z'
                      - 19
                    - - '2020-09-07T00:30:00.000Z'
                      - 21
                    - - '2020-09-07T01:00:00.000Z'
                      - 19
                    - - '2020-09-07T01:30:00.000Z'
                      - 19
      operationId: 'get-server-host-:-port-tsdb-ping'
      description: |-
        Return ping statistics for a server.

        **Note**: This is relative to a single location. This data can really only be used to capture fluctuations in ping.
      parameters:
        - schema:
            type: string
            default: day
            enum:
              - day
              - week
              - month
          in: query
          name: period
          description: Time period to return
      tags:
        - Servers
  '/servers/{host}:{port}/tsdb/players':
    parameters:
      - schema:
          type: string
        name: host
        in: path
        required: true
      - schema:
          type: string
        name: port
        in: path
        required: true
    get:
      summary: 'Time Series: Players'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items: {}
              examples:
                Example:
                  value:
                    - - '2020-09-06T23:00:00.000Z'
                      - 28.5
                    - - '2020-09-06T23:30:00.000Z'
                      - 23
                    - - '2020-09-07T00:00:00.000Z'
                      - 20
                    - - '2020-09-07T00:30:00.000Z'
                      - 20
                    - - '2020-09-07T01:00:00.000Z'
                      - 23.3333
                    - - '2020-09-07T01:30:00.000Z'
                      - 25
      operationId: 'get-server-host-:-port-tsdb-players'
      description: Returns player count over time for a given server.
      parameters:
        - schema:
            type: string
            enum:
              - day
              - week
              - month
            default: day
          in: query
          name: period
          description: Time period to return
        - schema:
            type: string
            enum:
              - peak
              - min
              - average
            default: average
          in: query
          name: type
          description: Type of data to return
      tags:
        - Servers
  /servers:
    get:
      summary: Get all servers
      tags:
        - Servers
      responses:
        '200':
          description: OK
          headers:
            link:
              schema:
                type: string
                example: '<https://server-api.sagl.app/v1/servers?after=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJxdWVyeSI6eyJuZXR3b3JrLmNvdW50cnkiOiJmciIsImxpbWl0Ijo1MCwib3JkZXIiOiJjcmVhdGVkQXQ6ZGVzYyJ9LCJsYXN0SWQiOiIwNmQyMDY2ZS0zYzYyLTRiZjYtYTU3MS0yYTQ1MmRjODFmOWEiLCJsYXN0UGluZ2VkQXQiOiIyMDIxLTA2LTA2VDE3OjEwOjEwLjAwMFoiLCJvZmZzZXQiOjQ2LCJpYXQiOjE2MjMwMDIyNTd9.w3VZhypKZ5kcMS8cSloZTPwh7mmDaR3BFsyXf8QA80w>; rel="next'
              description: Pagination Cursor. This will provide a link for the next request if there are more results.
          content:
            application/json:
              schema:
                description: ''
                uniqueItems: true
                x-examples:
                  example-1:
                    - id: 597304ac-91a4-47f0-a36b-07418b262bab
                      address: '51.89.93.152:7777'
                      name: Zombie Apocalipsis TDM - BOTs/NPC
                      isSupporter: false
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 7
                        max: 500
                        hitSAMPLimit: false
                      game:
                        language: ENG / ESP
                        gamemode: Zombies/Survival/TDM/Fac
                        lagcomp: 'On'
                        mapname: LS - Zombie
                        version: 0.3.7-R2
                        weather: '10'
                        worldtime: '12:00'
                      network:
                        country: GB
                        asn: 16276
                        asnName: OVH SAS
                      isOnline: false
                    - id: 56bc3c60-7fca-4a5d-aab0-e36583b1dade
                      address: '185.198.188.98:7777'
                      name: 'Mike''s Cops and Robbers [v1.10.6 R1]'
                      isSupporter: true
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 60
                        max: 150
                        hitSAMPLimit: false
                      game:
                        language: English
                        gamemode: Mike's Cops and Robbers
                        lagcomp: 'On'
                        mapname: LV (LS next)
                        version: 0.3.7-R2 | 1.10.6 R1
                        weather: Cloudy
                        worldtime: 'Tue 5:55'
                      network:
                        country: GB
                        asn: 62240
                        asnName: Clouvider Limited
                      isOnline: false
                minItems: 0
                type: array
                items:
                  $ref: '#/components/schemas/GameServer'
              examples:
                example-1:
                  value:
                    - id: 19b66b28-3d22-4b1e-9b03-f100e2881d0c
                      address: '94.23.154.186:7777'
                      name: 'Mike''s Cops and Robbers [v1.11.1 R1]'
                      isSupporter: true
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 33
                        max: 100
                        hitSAMPLimit: false
                      game:
                        language: English
                        gamemode: Mike's Cops and Robbers
                        lagcomp: 'On'
                        mapname: LS (SF next)
                        version: 0.3.7-R2 | 1.11.1 R1
                        weather: Extra sunny
                        worldtime: 'Sun 15:00'
                      network:
                        country: GB
                        asn: 16276
                        asnName: OVH SAS
                      metadata:
                        icon: 'https://cdn.discordapp.com/icons/524318544243195917/a_541c605122b4bf0aa1519eccaa9f0a9d.gif'
                        discordGuild: '524318544243195917'
                        socials:
                          url: 'https://mikescnr.com'
                          twitter: mikescnr
                          youtube: channel/UC9vOG1ZF0NRVzlnTTBc0g1A
                          facebook: Mikes-Cops-and-Robbers-388075981741242
                          discord: sreDRj9
                      isOnline: true
                      snapshotAt: '2021-08-20T22:00:05.000Z'
      operationId: get-servers
      description: List/filter all available servers
      parameters:
        - schema:
            type: string
          in: query
          name: after
          description: Cursor to paginate by. All other parameters will be ignored if specified.
        - schema:
            type: number
            minimum: 0
            maximum: 100
            default: 50
          in: query
          name: limit
          description: The number of results to return.
        - schema:
            type: string
            pattern: '(address|name|isSupporter|isHosted|isPassworded|players.current|players.max|game.language|game.gamemode|game.lagcomp|game.mapname|game.version|game.weather|game.worldtime|network.country|network.asn|network.asnName|createdAt):(asc|desc)'
            default: 'createdAt:desc'
            example: 'players.current:desc'
          in: query
          name: order
          description: The sorting order. Most keys are sortable using the a dot notation (e.g `players.current`). Supported directions are `asc` and `desc`
        - schema:
            type: array
          in: query
          name: 'address[]'
          description: 'An array of addresses (host:port) to lookup'
        - schema:
            type: string
          in: query
          name: address
          description: 'A single host:port to lookup'
        - schema:
            type: string
          in: query
          name: name
          description: Partial server name lookup
        - schema:
            type: boolean
          in: query
          name: isSupporter
          description: 'Lookup servers that are SA:GL supporters'
        - schema:
            type: boolean
          in: query
          name: isHosted
          description: 'Lookup servers that are on the SA:MP hosted list.'
        - schema:
            type: string
          in: query
          name: isPassworded
          description: Filter servers by their passworded state
        - schema:
            type: string
            pattern: '^((gt|lt|gte|lte|eq):)?[0-9]+$'
          in: query
          name: players.current
          description: 'Filter servers by an exact player count. You can also use operators (gt: lt: lte: e.g lte:100).'
        - schema:
            type: string
            pattern: '^((gt|lt|gte|lte|eq):)?[0-9]+$'
          in: query
          name: players.max
          description: 'Filter servers by an exact total player count. You can also use operators (gt: lt: lte: e.g lte:100).'
        - schema:
            type: string
          in: query
          name: game.language
          description: Filter by the configured language
        - schema:
            type: string
          in: query
          name: game.gamemode
          description: Filter by the configured gamemode
        - schema:
            type: string
          in: query
          name: game.lagcomp
          description: Filter by the configured lagcomp
        - schema:
            type: string
          in: query
          name: game.mapname
          description: Filter by the configured mapname
        - schema:
            type: string
          in: query
          name: game.version
          description: Filter by the configured version
        - schema:
            type: string
          in: query
          name: game.weather
          description: Filter by the configured version
        - schema:
            type: string
          in: query
          name: game.worldtime
          description: Filter by the configured worldtime
        - schema:
            type: string
          in: query
          name: network.country
          description: 'Filter by the servers location (e.g GB, FR, etc.)'
        - schema:
            type: string
          in: query
          name: network.asn
          description: Filter by the servers ASN. E.g `16276 `for OVH
        - schema:
            type: string
          in: query
          name: network.asnName
          description: Filter by an ASN name. E.g `OVH SAS`
        - schema:
            type: array
          in: query
          name: metadata.discordGuild
          description: Filter by a discord guild id.
        - schema:
            type: string
          in: query
          name: query
          description: Filter by multiple fields
components:
  schemas:
    LiveCountry:
      title: LiveCountry
      type: object
      properties:
        country:
          type: string
          nullable: true
        count:
          type: number
      required:
        - country
        - count
    GameVersion:
      title: GameVersion
      type: object
      description: |
        Game Version
      x-examples:
        example-1:
          value:
            version: 0.3.7-R2
            count: 706
      properties:
        version:
          type: string
        count:
          type: number
      required:
        - version
        - count
    GameMode:
      title: GameMode
      type: object
      description: |
        Game Version
      x-examples:
        example-1:
          value:
            gamemode: Grand Larceny
            count: 41
      properties:
        gamemode:
          type: string
        count:
          type: number
      required:
        - gamemode
        - count
    GameLanguage:
      title: GameLanguage
      type: object
      description: |
        Game Language
      x-examples:
        example-1:
          value:
            language: English
            count: 74
      properties:
        language:
          type: string
        count:
          type: number
      required:
        - language
        - count
    LiveHost:
      title: LiveHost
      type: object
      properties:
        name:
          type: string
        count:
          type: number
        asn:
          type: number
      required:
        - name
        - count
        - asn
      x-examples:
        example-1:
          value:
            asn: 16276
            name: OVH SAS
            count: 326
    Player:
      title: Player
      type: object
      description: 'SA:MP player'
      properties:
        id:
          type: number
        name:
          type: string
        ping:
          type: number
        score:
          type: number
      required:
        - id
        - ping
        - score
    GameServer:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 19b66b28-3d22-4b1e-9b03-f100e2881d0c
          address: '94.23.154.186:7777'
          name: 'Mike''s Cops and Robbers [v1.11.1 R1]'
          isSupporter: true
          isHosted: true
          isPassworded: false
          players:
            current: 33
            max: 100
            hitSAMPLimit: false
            online:
              - id: 31
                name: Hernan_Cabrera
                ping: 264
                score: 106
              - id: 32
                name: Minahany
                ping: 78
                score: 14669
              - id: 33
                name: KiraSyn
                ping: 409
                score: 2754
              - id: 34
                name: lefmak
                ping: 73
                score: 3611
              - id: 35
                name: Luu
                ping: 259
                score: 14049
              - id: 36
                name: SALMAAN
                ping: 203
                score: 7589
              - id: 38
                name: Mekey
                ping: 82
                score: 602
              - id: 39
                name: .Peachy.
                ping: 72
                score: 41358
              - id: 40
                name: Lucas_Wolfenstein
                ping: 335
                score: 400
              - id: 41
                name: Joshua_Wolfenstein
                ping: 267
                score: 1502
              - id: 43
                name: ND90
                ping: 109
                score: 14851
              - id: 44
                name: Jeison_Nieto
                ping: 208
                score: 7824
              - id: 45
                name: 0V3RK1LL
                ping: 182
                score: 51513
              - id: 46
                name: MoudjibDz
                ping: 45
                score: 4282
              - id: 47
                name: samosimo
                ping: 73
                score: 430
              - id: 48
                name: Gabriel_Nashor
                ping: 270
                score: 18
              - id: 49
                name: '[RA]Kitem'
                ping: 57
                score: 33418
              - id: 51
                name: BILEL
                ping: 61
                score: 4260
              - id: 52
                name: Panos
                ping: 67
                score: 858
              - id: 53
                name: Manjufi
                ping: 249
                score: 2991
              - id: 54
                name: Abdo.Dz
                ping: 76
                score: 8708
              - id: 55
                name: Stefanos_Xios
                ping: 73
                score: 843
              - id: 56
                name: '[77]anty'
                ping: 135
                score: 47268
              - id: 57
                name: MRk2
                ping: 104
                score: 16861
              - id: 59
                name: Smith_Erwin
                ping: 72
                score: 55109
              - id: 61
                name: CosmoS
                ping: 59
                score: 35224
              - id: 62
                name: Mr.Jingle
                ping: 36
                score: 26917
              - id: 63
                name: Hidden_
                ping: 74
                score: 13727
              - id: 65
                name: Adrian_Wolfestein
                ping: 260
                score: 110
              - id: 66
                name: Dutch420Maniac
                ping: 46
                score: 13864
              - id: 70
                name: Perc.1337
                ping: 26
                score: 10817
              - id: 73
                name: welid_holmes
                ping: 83
                score: 20551
              - id: 75
                name: Rafael_Assad
                ping: 250
                score: 115
          game:
            language: English
            gamemode: Mike's Cops and Robbers
            lagcomp: 'On'
            mapname: LS (SF next)
            version: 0.3.7-R2 | 1.11.1 R1
            weather: Extra sunny
            worldtime: 'Sun 15:00'
          network:
            country: GB
            asn: 16276
            asnName: OVH SAS
          metadata:
            icon: 'https://cdn.discordapp.com/icons/524318544243195917/a_541c605122b4bf0aa1519eccaa9f0a9d.gif'
            discordGuild: '524318544243195917'
            socials:
              url: 'https://mikescnr.com'
              twitter: mikescnr
              youtube: channel/UC9vOG1ZF0NRVzlnTTBc0g1A
              facebook: Mikes-Cops-and-Robbers-388075981741242
              discord: sreDRj9
          isOnline: true
          snapshotAt: '2021-08-20T22:00:05.000Z'
          value:
            id: 19b66b28-3d22-4b1e-9b03-f100e2881d0c
            address: '94.23.154.186:7777'
            name: 'Mike''s Cops and Robbers [v1.11.1 R1]'
            isSupporter: true
            isHosted: true
            isPassworded: false
            players:
              current: 33
              max: 100
              hitSAMPLimit: false
              online:
                - id: 31
                  name: Hernan_Cabrera
                  ping: 264
                  score: 106
                - id: 32
                  name: Minahany
                  ping: 78
                  score: 14669
                - id: 33
                  name: KiraSyn
                  ping: 409
                  score: 2754
                - id: 34
                  name: lefmak
                  ping: 73
                  score: 3611
                - id: 35
                  name: Luu
                  ping: 259
                  score: 14049
                - id: 36
                  name: SALMAAN
                  ping: 203
                  score: 7589
                - id: 38
                  name: Mekey
                  ping: 82
                  score: 602
                - id: 39
                  name: .Peachy.
                  ping: 72
                  score: 41358
                - id: 40
                  name: Lucas_Wolfenstein
                  ping: 335
                  score: 400
                - id: 41
                  name: Joshua_Wolfenstein
                  ping: 267
                  score: 1502
                - id: 43
                  name: ND90
                  ping: 109
                  score: 14851
                - id: 44
                  name: Jeison_Nieto
                  ping: 208
                  score: 7824
                - id: 45
                  name: 0V3RK1LL
                  ping: 182
                  score: 51513
                - id: 46
                  name: MoudjibDz
                  ping: 45
                  score: 4282
                - id: 47
                  name: samosimo
                  ping: 73
                  score: 430
                - id: 48
                  name: Gabriel_Nashor
                  ping: 270
                  score: 18
                - id: 49
                  name: '[RA]Kitem'
                  ping: 57
                  score: 33418
                - id: 51
                  name: BILEL
                  ping: 61
                  score: 4260
                - id: 52
                  name: Panos
                  ping: 67
                  score: 858
                - id: 53
                  name: Manjufi
                  ping: 249
                  score: 2991
                - id: 54
                  name: Abdo.Dz
                  ping: 76
                  score: 8708
                - id: 55
                  name: Stefanos_Xios
                  ping: 73
                  score: 843
                - id: 56
                  name: '[77]anty'
                  ping: 135
                  score: 47268
                - id: 57
                  name: MRk2
                  ping: 104
                  score: 16861
                - id: 59
                  name: Smith_Erwin
                  ping: 72
                  score: 55109
                - id: 61
                  name: CosmoS
                  ping: 59
                  score: 35224
                - id: 62
                  name: Mr.Jingle
                  ping: 36
                  score: 26917
                - id: 63
                  name: Hidden_
                  ping: 74
                  score: 13727
                - id: 65
                  name: Adrian_Wolfestein
                  ping: 260
                  score: 110
                - id: 66
                  name: Dutch420Maniac
                  ping: 46
                  score: 13864
                - id: 70
                  name: Perc.1337
                  ping: 26
                  score: 10817
                - id: 73
                  name: welid_holmes
                  ping: 83
                  score: 20551
                - id: 75
                  name: Rafael_Assad
                  ping: 250
                  score: 115
            game:
              language: English
              gamemode: Mike's Cops and Robbers
              lagcomp: 'On'
              mapname: LS (SF next)
              version: 0.3.7-R2 | 1.11.1 R1
              weather: Extra sunny
              worldtime: 'Sun 15:00'
            network:
              country: GB
              asn: 16276
              asnName: OVH SAS
            metadata:
              icon: 'https://cdn.discordapp.com/icons/524318544243195917/a_541c605122b4bf0aa1519eccaa9f0a9d.gif'
              discordGuild: '524318544243195917'
              socials:
                url: 'https://mikescnr.com'
                twitter: mikescnr
                youtube: channel/UC9vOG1ZF0NRVzlnTTBc0g1A
                facebook: Mikes-Cops-and-Robbers-388075981741242
                discord: sreDRj9
            isOnline: true
            snapshotAt: '2021-08-20T22:00:05.000Z'
      title: GameServer
      properties:
        id:
          type: string
          minLength: 1
        address:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        isSupporter:
          type: boolean
        isHosted:
          type: boolean
        isPassworded:
          type: boolean
        players:
          type: object
          required:
            - current
            - max
            - hitSAMPLimit
          properties:
            current:
              type: number
            max:
              type: number
            hitSAMPLimit:
              type: boolean
            online:
              type: array
              uniqueItems: true
              minItems: 0
              description: This is only returned when querying a single server
              items:
                $ref: '#/components/schemas/Player'
        game:
          type: object
          required:
            - language
            - gamemode
            - lagcomp
            - mapname
            - version
            - weather
            - worldtime
          properties:
            language:
              type: string
              minLength: 1
            gamemode:
              type: string
              minLength: 1
            lagcomp:
              type: string
              minLength: 1
            mapname:
              type: string
              minLength: 1
            version:
              type: string
              minLength: 1
            weather:
              type: string
              minLength: 1
            worldtime:
              type: string
              minLength: 1
        network:
          type: object
          required:
            - country
            - asn
            - asnName
          properties:
            country:
              type: string
              minLength: 1
            asn:
              type: number
            asnName:
              type: string
              minLength: 1
        metadata:
          type: object
          required:
            - icon
            - discordGuild
            - socials
          properties:
            icon:
              type: string
              minLength: 1
            discordGuild:
              type: string
              minLength: 1
            socials:
              type: object
              properties:
                url:
                  type: string
                  minLength: 1
                twitter:
                  type: string
                  minLength: 1
                youtube:
                  type: string
                  minLength: 1
                facebook:
                  type: string
                  minLength: 1
                discord:
                  type: string
                  minLength: 1
                vk:
                  type: string
                  minLength: 1
        isOnline:
          type: boolean
        snapshotAt:
          type: string
          minLength: 1
      required:
        - id
        - address
        - name
        - isSupporter
        - isHosted
        - isPassworded
        - players
        - game
        - network
        - metadata
        - isOnline
        - snapshotAt
  securitySchemes: {}
tags:
  - name: Live Statistics
  - name: Single Server
  - name: Servers
