openapi: 3.0.0
info:
  title: Server API
  version: '1.0'
  description: 'Public metadata API for accessing SA:MP servers'
servers:
  - url: 'https://server-api.sagl.app/v1'
    description: Production
paths:
  /statistics/current/host:
    get:
      summary: Return host distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveHost'
              examples:
                Example response:
                  value:
                    - host: OVH SAS
                      count: 130
                    - host: LLC Baxet
                      count: 40
                    - host: Other
                      count: 38
                    - host: RS-Media LLC
                      count: 30
                    - host: AntiDDoS Solutions LLC
                      count: 24
                    - host: Storm Systems LLC
                      count: 6
                    - host: Hetzner Online GmbH
                      count: 4
                    - host: eTOP sp. z o.o.
                      count: 3
        '':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example:
                  value:
                    - host: OVH SAS
                      count: 130
                    - host: LLC Baxet
                      count: 40
                    - host: Other
                      count: 38
                    - host: RS-Media LLC
                      count: 30
                    - host: AntiDDoS Solutions LLC
                      count: 24
                    - host: Storm Systems LLC
                      count: 6
                    - host: Hetzner Online GmbH
                      count: 4
                    - host: eTOP sp. z o.o.
                      count: 3
      operationId: get-statistics-host
      description: |-
        Returns the global hosting provider distribution for all SAMP servers.


        This is only for servers at the current time, not historical.

        **Note**: If a host has 2 or fewer servers, it's bundled into the "Other" option.
    parameters: []
  /statistics/current/country:
    get:
      summary: Return country distribution
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveCountry'
              examples:
                Example:
                  value:
                    - country: RU
                      count: 80
                    - country: CA
                      count: 68
                    - country: FR
                      count: 52
                    - country: US
                      count: 32
                    - country: null
                      count: 15
                    - country: PL
                      count: 8
                    - country: BR
                      count: 5
                    - country: DE
                      count: 5
                    - country: NL
                      count: 3
                    - country: GB
                      count: 3
                    - country: SE
                      count: 1
                    - country: PT
                      count: 1
                    - country: RO
                      count: 1
                    - country: AU
                      count: 1
      operationId: get-statistics-current-country
      description: 'This returns country distribution for all SA:MP servers we track.'
  /statistics/current/players:
    get:
      summary: Return global player count
      tags:
        - Live Statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  onlinePlayers:
                    type: number
                  maxPlayers:
                    type: number
                  averagePlayers:
                    type: number
                  globalFullness:
                    type: number
                    description: Percentage of global capacity used
                required:
                  - onlinePlayers
                  - maxPlayers
                  - averagePlayers
                  - globalFullness
              examples:
                Example:
                  value:
                    onlinePlayers: 12396
                    maxPlayers: 94594
                    averagePlayers: 47.6769
                    globalFullness: 13.104425227815716
      operationId: get-statistics-current-players
      description: Returns combined player count details for all servers we track
  '/servers/{host}:{port}':
    parameters:
      - schema:
          type: string
          format: ipv4
        name: host
        in: path
        required: true
        description: Server IP
      - schema:
          type: integer
          maxLength: 65565
        name: port
        in: path
        required: true
        description: Server Port
    get:
      summary: Get a server
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: 56bc3c60-7fca-4a5d-aab0-e36583b1dade
                    address: '185.198.188.98:7777'
                    name: 'Mike''s Cops and Robbers [v1.10.6 R1]'
                    isSupporter: true
                    isHosted: true
                    isPassworded: false
                    players:
                      current: 60
                      max: 150
                      hitSAMPLimit: false
                      online:
                        - id: 0
                          name: 'L[3]VII.1337'
                          ping: 134
                          score: 33434
                        - id: 1
                          name: Sarke
                          ping: 42
                          score: 3086
                        - id: 2
                          name: Nokia
                          ping: 47
                          score: 175
                        - id: 3
                          name: MEMON
                          ping: 69
                          score: 3636
                        - id: 4
                          name: ninco
                          ping: 155
                          score: 16325
                        - id: 6
                          name: zzom1432@gmail.com
                          ping: 74
                          score: 1216
                        - id: 7
                          name: xv.
                          ping: 212
                          score: 19492
                        - id: 8
                          name: Zymka_Skreplis
                          ping: 74
                          score: 13186
                        - id: 9
                          name: sikisik
                          ping: 74
                          score: 1034
                        - id: 10
                          name: oSKAR_rOCKEFELLER
                          ping: 298
                          score: 12237
                        - id: 11
                          name: George_winston
                          ping: 271
                          score: 2561
                        - id: 12
                          name: phat123
                          ping: 261
                          score: 905
                        - id: 25
                          name: franc_
                          ping: 74
                          score: 26647
                        - id: 26
                          name: mr.joe
                          ping: 74
                          score: 21965
                        - id: 46
                          name: Marko_Stojkovic
                          ping: 58
                          score: 2075
                        - id: 47
                          name: n1nt3nd0
                          ping: 63
                          score: 4447
                        - id: 48
                          name: zopz
                          ping: 95
                          score: 841
                        - id: 49
                          name: binho21
                          ping: 250
                          score: 10749
                        - id: 50
                          name: LAMAR
                          ping: 261
                          score: 2253
                        - id: 51
                          name: Strk12
                          ping: 80
                          score: 18947
                        - id: 52
                          name: JEXRA1Q
                          ping: 138
                          score: 828
                        - id: 53
                          name: Scarface_
                          ping: 292
                          score: 10388
                        - id: 54
                          name: vukbro
                          ping: 100
                          score: 173
                        - id: 55
                          name: GOFOX2019
                          ping: 96
                          score: 999
                        - id: 56
                          name: koki
                          ping: 222
                          score: 4397
                        - id: 57
                          name: AzRaeL_Up_On_U
                          ping: 153
                          score: 2049
                        - id: 58
                          name: jokur
                          ping: 245
                          score: 4855
                        - id: 59
                          name: '[RA]Prasun'
                          ping: 202
                          score: 47121
                        - id: 60
                          name: nick.
                          ping: 37
                          score: 10839
                        - id: 61
                          name: juan_cane
                          ping: 191
                          score: 6389
                        - id: 62
                          name: Outlaw_Dude
                          ping: 69
                          score: 11860
                        - id: 63
                          name: MiceOP
                          ping: 146
                          score: 11538
                        - id: 64
                          name: LordPaulus
                          ping: 45
                          score: 530
                        - id: 65
                          name: arj
                          ping: 255
                          score: 7836
                        - id: 67
                          name: ooty
                          ping: 234
                          score: 553
                        - id: 69
                          name: Choriflan_Aron
                          ping: 260
                          score: 203
                        - id: 70
                          name: Charlie.1337
                          ping: 53
                          score: 50493
                        - id: 71
                          name: Balla1
                          ping: 264
                          score: 40859
                        - id: 72
                          name: Fierycrow
                          ping: 40
                          score: 1010
                        - id: 73
                          name: gogo2132
                          ping: 25
                          score: 3875
                        - id: 76
                          name: LogFile
                          ping: 303
                          score: 3603
                        - id: 77
                          name: JhonyJoker
                          ping: 58
                          score: 8207
                        - id: 78
                          name: abokees
                          ping: 63
                          score: 446
                        - id: 79
                          name: HaMoDa
                          ping: 111
                          score: 199
                        - id: 80
                          name: when
                          ping: 217
                          score: 147
                        - id: 81
                          name: Lean
                          ping: 54
                          score: 116
                        - id: 82
                          name: KARLOS_VICENTE
                          ping: 300
                          score: 158
                        - id: 83
                          name: '[77]Sid'
                          ping: 149
                          score: 34329
                        - id: 87
                          name: jae
                          ping: 122
                          score: 259
                        - id: 89
                          name: '[B]ahzi'
                          ping: 31
                          score: 22145
                        - id: 90
                          name: H.36.100
                          ping: 68
                          score: 1151
                        - id: 91
                          name: '[NC]Arun'
                          ping: 249
                          score: 13969
                        - id: 93
                          name: FrenchKiss
                          ping: 47
                          score: 8899
                        - id: 94
                          name: YUNGGRAVY
                          ping: 149
                          score: 1068
                        - id: 96
                          name: Saric_Jopa
                          ping: 52
                          score: 4911
                        - id: 97
                          name: ranja
                          ping: 160
                          score: 949
                        - id: 100
                          name: JIAWEH
                          ping: 254
                          score: 5138
                        - id: 101
                          name: KayyyP
                          ping: 239
                          score: 10072
                        - id: 104
                          name: ShwarmX
                          ping: 206
                          score: 291
                        - id: 107
                          name: Danilo_Trajkovic
                          ping: 58
                          score: 11777
                    game:
                      language: English
                      gamemode: Mike's Cops and Robbers
                      lagcomp: 'On'
                      mapname: LV (LS next)
                      version: 0.3.7-R2 | 1.10.6 R1
                      weather: Cloudy
                      worldtime: 'Tue 5:55'
                    network:
                      country: GB
                      asn: 62240
                      asnName: Clouvider Limited
                    isOnline: false
                    snapshotAt: '2021-06-06T17:10:10.000Z'
                properties:
                  id:
                    type: string
                    minLength: 1
                  address:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  isSupporter:
                    type: boolean
                  isHosted:
                    type: boolean
                  isPassworded:
                    type: boolean
                  players:
                    type: object
                    required:
                      - current
                      - max
                      - hitSAMPLimit
                      - online
                    properties:
                      current:
                        type: number
                      max:
                        type: number
                      hitSAMPLimit:
                        type: boolean
                        description: 'Whether the server has hit the SA:MP limit for players. `players` will be incorrectly empty if this is `true`'
                      online:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          $ref: '#/components/schemas/Player'
                  game:
                    type: object
                    required:
                      - language
                      - gamemode
                      - lagcomp
                      - mapname
                      - version
                      - weather
                      - worldtime
                    properties:
                      language:
                        type: string
                        minLength: 1
                      gamemode:
                        type: string
                        minLength: 1
                      lagcomp:
                        type: string
                        minLength: 1
                      mapname:
                        type: string
                        minLength: 1
                      version:
                        type: string
                        minLength: 1
                      weather:
                        type: string
                        minLength: 1
                      worldtime:
                        type: string
                        minLength: 1
                  network:
                    type: object
                    required:
                      - country
                      - asn
                      - asnName
                    properties:
                      country:
                        type: string
                        minLength: 1
                      asn:
                        type: number
                      asnName:
                        type: string
                        minLength: 1
                  isOnline:
                    type: boolean
                  snapshotAt:
                    type: string
                    minLength: 1
                required:
                  - id
                  - address
                  - name
                  - isSupporter
                  - isHosted
                  - isPassworded
                  - players
                  - game
                  - network
                  - isOnline
                  - snapshotAt
              examples:
                Example:
                  value:
                    id: 56bc3c60-7fca-4a5d-aab0-e36583b1dade
                    address: '185.198.188.98:7777'
                    name: 'Mike''s Cops and Robbers [v1.10.6 R1]'
                    isSupporter: true
                    isHosted: true
                    isPassworded: false
                    players:
                      current: 60
                      max: 150
                      hitSAMPLimit: false
                      online:
                        - id: 0
                          name: 'L[3]VII.1337'
                          ping: 134
                          score: 33434
                        - id: 1
                          name: Sarke
                          ping: 42
                          score: 3086
                        - id: 2
                          name: Nokia
                          ping: 47
                          score: 175
                        - id: 3
                          name: MEMON
                          ping: 69
                          score: 3636
                        - id: 4
                          name: ninco
                          ping: 155
                          score: 16325
                        - id: 6
                          name: zzom1432@gmail.com
                          ping: 74
                          score: 1216
                        - id: 7
                          name: xv.
                          ping: 212
                          score: 19492
                        - id: 8
                          name: Zymka_Skreplis
                          ping: 74
                          score: 13186
                        - id: 9
                          name: sikisik
                          ping: 74
                          score: 1034
                        - id: 10
                          name: oSKAR_rOCKEFELLER
                          ping: 298
                          score: 12237
                        - id: 11
                          name: George_winston
                          ping: 271
                          score: 2561
                        - id: 12
                          name: phat123
                          ping: 261
                          score: 905
                        - id: 25
                          name: franc_
                          ping: 74
                          score: 26647
                        - id: 26
                          name: mr.joe
                          ping: 74
                          score: 21965
                        - id: 46
                          name: Marko_Stojkovic
                          ping: 58
                          score: 2075
                        - id: 47
                          name: n1nt3nd0
                          ping: 63
                          score: 4447
                        - id: 48
                          name: zopz
                          ping: 95
                          score: 841
                        - id: 49
                          name: binho21
                          ping: 250
                          score: 10749
                        - id: 50
                          name: LAMAR
                          ping: 261
                          score: 2253
                        - id: 51
                          name: Strk12
                          ping: 80
                          score: 18947
                        - id: 52
                          name: JEXRA1Q
                          ping: 138
                          score: 828
                        - id: 53
                          name: Scarface_
                          ping: 292
                          score: 10388
                        - id: 54
                          name: vukbro
                          ping: 100
                          score: 173
                        - id: 55
                          name: GOFOX2019
                          ping: 96
                          score: 999
                        - id: 56
                          name: koki
                          ping: 222
                          score: 4397
                        - id: 57
                          name: AzRaeL_Up_On_U
                          ping: 153
                          score: 2049
                        - id: 58
                          name: jokur
                          ping: 245
                          score: 4855
                        - id: 59
                          name: '[RA]Prasun'
                          ping: 202
                          score: 47121
                        - id: 60
                          name: nick.
                          ping: 37
                          score: 10839
                        - id: 61
                          name: juan_cane
                          ping: 191
                          score: 6389
                        - id: 62
                          name: Outlaw_Dude
                          ping: 69
                          score: 11860
                        - id: 63
                          name: MiceOP
                          ping: 146
                          score: 11538
                        - id: 64
                          name: LordPaulus
                          ping: 45
                          score: 530
                        - id: 65
                          name: arj
                          ping: 255
                          score: 7836
                        - id: 67
                          name: ooty
                          ping: 234
                          score: 553
                        - id: 69
                          name: Choriflan_Aron
                          ping: 260
                          score: 203
                        - id: 70
                          name: Charlie.1337
                          ping: 53
                          score: 50493
                        - id: 71
                          name: Balla1
                          ping: 264
                          score: 40859
                        - id: 72
                          name: Fierycrow
                          ping: 40
                          score: 1010
                        - id: 73
                          name: gogo2132
                          ping: 25
                          score: 3875
                        - id: 76
                          name: LogFile
                          ping: 303
                          score: 3603
                        - id: 77
                          name: JhonyJoker
                          ping: 58
                          score: 8207
                        - id: 78
                          name: abokees
                          ping: 63
                          score: 446
                        - id: 79
                          name: HaMoDa
                          ping: 111
                          score: 199
                        - id: 80
                          name: when
                          ping: 217
                          score: 147
                        - id: 81
                          name: Lean
                          ping: 54
                          score: 116
                        - id: 82
                          name: KARLOS_VICENTE
                          ping: 300
                          score: 158
                        - id: 83
                          name: '[77]Sid'
                          ping: 149
                          score: 34329
                        - id: 87
                          name: jae
                          ping: 122
                          score: 259
                        - id: 89
                          name: '[B]ahzi'
                          ping: 31
                          score: 22145
                        - id: 90
                          name: H.36.100
                          ping: 68
                          score: 1151
                        - id: 91
                          name: '[NC]Arun'
                          ping: 249
                          score: 13969
                        - id: 93
                          name: FrenchKiss
                          ping: 47
                          score: 8899
                        - id: 94
                          name: YUNGGRAVY
                          ping: 149
                          score: 1068
                        - id: 96
                          name: Saric_Jopa
                          ping: 52
                          score: 4911
                        - id: 97
                          name: ranja
                          ping: 160
                          score: 949
                        - id: 100
                          name: JIAWEH
                          ping: 254
                          score: 5138
                        - id: 101
                          name: KayyyP
                          ping: 239
                          score: 10072
                        - id: 104
                          name: ShwarmX
                          ping: 206
                          score: 291
                        - id: 107
                          name: Danilo_Trajkovic
                          ping: 58
                          score: 11777
                    game:
                      language: English
                      gamemode: Mike's Cops and Robbers
                      lagcomp: 'On'
                      mapname: LV (LS next)
                      version: 0.3.7-R2 | 1.10.6 R1
                      weather: Cloudy
                      worldtime: 'Tue 5:55'
                    network:
                      country: GB
                      asn: 62240
                      asnName: Clouvider Limited
                    isOnline: false
                    snapshotAt: '2021-06-06T17:10:10.000Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                  error:
                    type: string
                  message:
                    type: string
                required:
                  - statusCode
                  - error
                  - message
              examples:
                Example 404:
                  value:
                    statusCode: 404
                    error: Not Found
                    message: Game server not tracked
      operationId: 'get-server-host-:-port'
      description: Returns the last data snapshot for a given server.
      tags:
        - Servers
  '/servers/{host}:{port}/tsdb/ping':
    parameters:
      - schema:
          type: string
          format: ipv4
        name: host
        in: path
        required: true
        description: Server IP
      - schema:
          type: integer
          maxLength: 65565
        name: port
        in: path
        required: true
        description: Server Port
    get:
      summary: 'Time Series: Ping'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items: {}
              examples:
                example-1:
                  value:
                    - - '2020-09-06T23:00:00.000Z'
                      - 17
                    - - '2020-09-06T23:30:00.000Z'
                      - 20
                    - - '2020-09-07T00:00:00.000Z'
                      - 19
                    - - '2020-09-07T00:30:00.000Z'
                      - 21
                    - - '2020-09-07T01:00:00.000Z'
                      - 19
                    - - '2020-09-07T01:30:00.000Z'
                      - 19
      operationId: 'get-server-host-:-port-tsdb-ping'
      description: |-
        Return ping statistics for a server.

        **Note**: This is relative to a single location. This data can really only be used to capture fluctuations in ping.
      parameters:
        - schema:
            type: string
            default: day
            enum:
              - day
              - week
              - month
          in: query
          name: period
          description: Time period to return
      tags:
        - Servers
  '/servers/{host}:{port}/tsdb/players':
    parameters:
      - schema:
          type: string
        name: host
        in: path
        required: true
      - schema:
          type: string
        name: port
        in: path
        required: true
    get:
      summary: 'Time Series: Players'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items: {}
              examples:
                Example:
                  value:
                    - - '2020-09-06T23:00:00.000Z'
                      - 28.5
                    - - '2020-09-06T23:30:00.000Z'
                      - 23
                    - - '2020-09-07T00:00:00.000Z'
                      - 20
                    - - '2020-09-07T00:30:00.000Z'
                      - 20
                    - - '2020-09-07T01:00:00.000Z'
                      - 23.3333
                    - - '2020-09-07T01:30:00.000Z'
                      - 25
      operationId: 'get-server-host-:-port-tsdb-players'
      description: Returns player count over time for a given server.
      parameters:
        - schema:
            type: string
            enum:
              - day
              - week
              - month
            default: day
          in: query
          name: period
          description: Time period to return
        - schema:
            type: string
            enum:
              - peak
              - min
              - average
            default: average
          in: query
          name: type
          description: Type of data to return
      tags:
        - Servers
  /servers:
    get:
      summary: List all servers
      tags:
        - Servers
      responses:
        '200':
          description: OK
          headers:
            link:
              schema:
                type: string
                example: '<https://server-api.sagl.app/v1/servers?after=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJxdWVyeSI6eyJuZXR3b3JrLmNvdW50cnkiOiJmciIsImxpbWl0Ijo1MCwib3JkZXIiOiJjcmVhdGVkQXQ6ZGVzYyJ9LCJsYXN0SWQiOiIwNmQyMDY2ZS0zYzYyLTRiZjYtYTU3MS0yYTQ1MmRjODFmOWEiLCJsYXN0UGluZ2VkQXQiOiIyMDIxLTA2LTA2VDE3OjEwOjEwLjAwMFoiLCJvZmZzZXQiOjQ2LCJpYXQiOjE2MjMwMDIyNTd9.w3VZhypKZ5kcMS8cSloZTPwh7mmDaR3BFsyXf8QA80w>; rel="next'
              description: Pagination Cursor. This will provide a link for the next request if there are more results.
          content:
            application/json:
              schema:
                type: array
                description: ''
                uniqueItems: true
                x-examples:
                  example-1:
                    - id: 597304ac-91a4-47f0-a36b-07418b262bab
                      address: '51.89.93.152:7777'
                      name: Zombie Apocalipsis TDM - BOTs/NPC
                      isSupporter: false
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 7
                        max: 500
                        hitSAMPLimit: false
                      game:
                        language: ENG / ESP
                        gamemode: Zombies/Survival/TDM/Fac
                        lagcomp: 'On'
                        mapname: LS - Zombie
                        version: 0.3.7-R2
                        weather: '10'
                        worldtime: '12:00'
                      network:
                        country: GB
                        asn: 16276
                        asnName: OVH SAS
                      isOnline: false
                    - id: 56bc3c60-7fca-4a5d-aab0-e36583b1dade
                      address: '185.198.188.98:7777'
                      name: 'Mike''s Cops and Robbers [v1.10.6 R1]'
                      isSupporter: true
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 60
                        max: 150
                        hitSAMPLimit: false
                      game:
                        language: English
                        gamemode: Mike's Cops and Robbers
                        lagcomp: 'On'
                        mapname: LV (LS next)
                        version: 0.3.7-R2 | 1.10.6 R1
                        weather: Cloudy
                        worldtime: 'Tue 5:55'
                      network:
                        country: GB
                        asn: 62240
                        asnName: Clouvider Limited
                      isOnline: false
                minItems: 0
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                    address:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
                    isSupporter:
                      type: boolean
                    isHosted:
                      type: boolean
                    isPassworded:
                      type: boolean
                    players:
                      type: object
                      required:
                        - current
                        - max
                        - hitSAMPLimit
                      properties:
                        current:
                          type: number
                        max:
                          type: number
                        hitSAMPLimit:
                          type: boolean
                    game:
                      type: object
                      required:
                        - language
                        - gamemode
                        - lagcomp
                        - mapname
                        - version
                        - weather
                        - worldtime
                      properties:
                        language:
                          type: string
                          minLength: 1
                        gamemode:
                          type: string
                          minLength: 1
                        lagcomp:
                          type: string
                          minLength: 1
                        mapname:
                          type: string
                          minLength: 1
                        version:
                          type: string
                          minLength: 1
                        weather:
                          type: string
                          minLength: 1
                        worldtime:
                          type: string
                          minLength: 1
                    network:
                      type: object
                      required:
                        - country
                        - asn
                        - asnName
                      properties:
                        country:
                          type: string
                          minLength: 1
                        asn:
                          type: number
                        asnName:
                          type: string
                          minLength: 1
                    isOnline:
                      type: boolean
                  required:
                    - id
                    - address
                    - name
                    - isSupporter
                    - isHosted
                    - isPassworded
                    - players
                    - game
                    - network
                    - isOnline
              examples:
                example-1:
                  value:
                    - id: 597304ac-91a4-47f0-a36b-07418b262bab
                      address: '51.89.93.152:7777'
                      name: Zombie Apocalipsis TDM - BOTs/NPC
                      isSupporter: false
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 7
                        max: 500
                        hitSAMPLimit: false
                      game:
                        language: ENG / ESP
                        gamemode: Zombies/Survival/TDM/Fac
                        lagcomp: 'On'
                        mapname: LS - Zombie
                        version: 0.3.7-R2
                        weather: '10'
                        worldtime: '12:00'
                      network:
                        country: GB
                        asn: 16276
                        asnName: OVH SAS
                      isOnline: false
                    - id: 56bc3c60-7fca-4a5d-aab0-e36583b1dade
                      address: '185.198.188.98:7777'
                      name: 'Mike''s Cops and Robbers [v1.10.6 R1]'
                      isSupporter: true
                      isHosted: true
                      isPassworded: false
                      players:
                        current: 60
                        max: 150
                        hitSAMPLimit: false
                      game:
                        language: English
                        gamemode: Mike's Cops and Robbers
                        lagcomp: 'On'
                        mapname: LV (LS next)
                        version: 0.3.7-R2 | 1.10.6 R1
                        weather: Cloudy
                        worldtime: 'Tue 5:55'
                      network:
                        country: GB
                        asn: 62240
                        asnName: Clouvider Limited
                      isOnline: false
      operationId: get-servers
      description: List/filter all available servers
      parameters:
        - schema:
            type: string
          in: query
          name: after
          description: Cursor to paginate by. All other parameters will be ignored if specified.
        - schema:
            type: number
            minimum: 0
            maximum: 100
            default: 50
          in: query
          name: limit
          description: The number of results to return.
        - schema:
            type: string
            pattern: '(address|name|isSupporter|isHosted|isPassworded|players.current|players.max|game.language|game.gamemode|game.lagcomp|game.mapname|game.version|game.weather|game.worldtime|network.country|network.asn|network.asnName|createdAt):(asc|desc)'
            default: 'createdAt:desc'
            example: 'players.current:desc'
          in: query
          name: order
          description: The sorting order. Most keys are sortable using the a dot notation (e.g `players.current`). Supported directions are `asc` and `desc`
        - schema:
            type: array
          in: query
          name: address
          description: 'An array of addresses (host:port) to lookup'
        - schema:
            type: string
          in: query
          name: address
          description: 'A single host:port to lookup'
        - schema:
            type: string
          in: query
          name: name
          description: Partial server name lookup
        - schema:
            type: boolean
          in: query
          name: isSupporter
          description: 'Lookup servers that are SA:GL supporters'
        - schema:
            type: boolean
          in: query
          name: isHosted
          description: 'Lookup servers that are on the SA:MP hosted list.'
        - schema:
            type: string
          in: query
          name: isPassworded
          description: Filter servers by their passworded state
        - schema:
            type: string
            pattern: '^((gt|lt|gte|lte|eq):)?[0-9]+$'
          in: query
          name: players.current
          description: 'Filter servers by an exact player count. You can also use operators (gt: lt: lte: e.g lte:100).'
        - schema:
            type: string
            pattern: '^((gt|lt|gte|lte|eq):)?[0-9]+$'
          in: query
          name: players.max
          description: 'Filter servers by an exact total player count. You can also use operators (gt: lt: lte: e.g lte:100).'
        - schema:
            type: string
          in: query
          name: game.language
          description: Filter by the configured language
        - schema:
            type: string
          in: query
          name: game.gamemode
          description: Filter by the configured gamemode
        - schema:
            type: string
          in: query
          name: game.lagcomp
          description: Filter by the configured lagcomp
        - schema:
            type: string
          in: query
          name: game.mapname
          description: Filter by the configured mapname
        - schema:
            type: string
          in: query
          name: game.version
          description: Filter by the configured version
        - schema:
            type: string
          in: query
          name: game.weather
          description: Filter by the configured version
        - schema:
            type: string
          in: query
          name: game.worldtime
          description: Filter by the configured worldtime
        - schema:
            type: string
          in: query
          name: network.country
          description: 'Filter by the servers location (e.g GB, FR, etc.)'
        - schema:
            type: string
          in: query
          name: network.asn
          description: Filter by the servers ASN. E.g `16276 `for OVH
        - schema:
            type: string
          in: query
          name: network.asnName
          description: Filter by an ASN name. E.g `OVH SAS`
components:
  schemas:
    LiveCountry:
      title: LiveCountry
      type: object
      properties:
        country:
          type: string
        count:
          type: number
      required:
        - country
        - count
    LiveHost:
      title: LiveHost
      type: object
      properties:
        host:
          type: string
        count:
          type: number
      required:
        - host
        - count
    Player:
      title: Player
      type: object
      description: 'SA:MP player'
      properties:
        id:
          type: number
        name:
          type: string
        ping:
          type: number
        score:
          type: number
      required:
        - id
        - ping
        - score
tags:
  - name: Live Statistics
  - name: Single Server
  - name: Servers
